@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body{
    background-color: #2e2e2e;
    color: #fff;
    font-family: 'Pretendard';
    font-style: serif;
}

.app{
    margin: 0 auto;
    text-align: center;
}

.name{
    text-align: center;
}