@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

h1{
    font-weight: bold;
}
* {
  font-family: Pretendard, serif;
}
.badge{
    font-size: 0.9rem
}
input{
    text-align: center;
}
input.small{
    width: 60px;
}
.erda{
    width: 15%
}

.coreResult{
    border-radius: 5px;
    border: 1px grey;
    border-style: solid;
}